:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --white-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--white-color);
}

header {
  background-color: var(--white-color);
}
.header-link {
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-span {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-link-new {
  color: var(--primary-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-link {
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-blue {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-item {
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-contacts-item-blue {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-contacts-item {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.hero {
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
  background: #2f303a;
}
.hero-title {
  width: 696px;
  flex-shrink: 0;
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.plan {
  background: var(--background-color);
}
.plan-name {
  width: 270px;
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.plan-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.three {
  background: var(--background-color);
}
.three-title {
  color: var(--primary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.three-photo {
  background: url(./img/1.webp) lightgray 50% / cover no-repeat;
  background: url(./img/2.webp) lightgray 50% / cover no-repeat;
  background: url(./img/3.webp) lightgray 50% / cover no-repeat;
}
.team {
  background: var(--background-color);
}
.team-title {
  color: var(--primary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.team-name {
  color: var(--primary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-text {
  color: var(--secondary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-photo {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  background: url(./img/igor.webp) lightgray -86.437px -3.457px / 196.208%
    136.002% no-repeat;
  background: url(./img/olga.webp) lightgray -86.437px -3.457px / 196.208%
    136.002% no-repeat;
  background: url(./img/mikola.webp) lightgray -86.437px -3.457px / 196.208%
    136.002% no-repeat;
  background: url(./img/mihail.webp) lightgray -86.437px -3.457px / 196.208%
    136.002% no-repeat;
}
a {
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: var(--white-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
}
.footer-name {
  color: var(--white-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-span {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-adress {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-text {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.list {
  font-variant: var(--white-color);
}
.list-button-blue {
  width: 73px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}
.list-button {
  border-radius: 4px;
  background: #f5f4fa;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}
.info {
  background: var(--white-color);
}
.info-name {
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  width: 322px;
}
.info-text {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  width: 322px;
}
